@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
.home {
    background-color: #eeeeee;
}

a:hover {
    text-decoration: none;
}

.carousel-content {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    position: relative;
    height: 500px;
}

.carousel-content:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
    width: 100%;
    height: 100%;
}

.carousel-text {
    top: 170px;
    left: 130px;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
}

.carousel-text>* {
    position: relative;
    z-index: 2;
}

.carousel-text-tech {
    position: relative;
    top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel-text-tech>h1 {
    margin-bottom: 0;
    color: #ff9900;
    text-transform: uppercase;
}

.carousel-text-tech>* {
    position: relative;
    z-index: 2;
}

.carousel-text>h1 {
    color: #1f6f8b;
    font-size: 50px;
    text-transform: uppercase;
}

.carousel-text>h1 span {
    color: #cc0e74;
}

.carousel-text>span {
    text-align: center;
    color: #f8f1f1;
}


/* Home Trending */

.home__trending-product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


/* Home Promotion */

.home__promotions {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 30px;
    padding: 0 35px;
}

.home__promotion {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80px;
    width: 100%;
    height: 300px;
    background-color: #bcdbd5;
}

.home__promotion:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
}

.home__promotion-text>* {
    color: #fff;
    z-index: 2;
    position: relative;
}

.home__promotion-text {
    position: absolute;
    left: 35%;
    top: 100px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.home__promotion-text>h4 {
    letter-spacing: 1px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    color: #fadcd9;
}

.home__promotion-text {
    position: absolute;
    top: 80px;
    left: 3%;
    text-align: center;
}

.home__promotion-text>h4 {
    font-size: 24px;
}


/* Home News */

.home__news {
    padding: 10px 35px;
    margin-top: 20px;
    background-color: #dbdbdb;
}

.home__news-title {
    font-size: 50px;
    font-weight: 200;
    color: #222;
}

.home__news-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.home__news-imgs img {
    max-width: 100%;
    height: auto;
}

.home__news-left {
    max-width: 100%;
    height: auto;
    display: flex;
}

.home__news-right {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 40px;
}

.home__news-right-img {
    max-width: 100%;
    height: auto;
}


/* Home Brand */

.home__brand {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 220px;
    margin: 20px 0;
}

.home__brand-left {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #bcdbd5;
}

.home__brand-left>h6 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    color: #242c34;
    font-weight: 600;
}

.home__brand-left>p {
    color: #666a7c;
}

.home__brand-left>button {
    color: #236b99;
    text-transform: uppercase;
}

.home__brand-left>button:hover {
    background-color: #236b99;
    color: #b8b9c2;
}

.home__brand-right {
    width: 75%;
}

.home__brand-right>img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}


/* Home Trending */

.home__trending {
    overflow: hidden;
    padding: 15px 35px;
}

.home__trending>h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 200;
    color: #222;
}

.home__offer-banner {
    display: flex;
    background-color: #9fbeae;
}

.home__offer-banner-img {
    max-width: 100%;
    height: auto;
}

.home__newsletter {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    padding: 10px 56px;
}

.home__newsletter-title {
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
}

.home__newsletter small {
    font-size: 20px;
    color: #fff !important;
}

.home__newsletter label {
    color: #222;
    font-size: 18px;
}

.btn {
    margin: auto;
}


/* Footer */

.home__footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
}

.home__footer-contact,
.home__footer-nav {
    border-right: 1px solid rgb(77, 77, 77);
}

.home__footer-items {
    text-align: justify;
}

.home__footer-items a {
    color: #f8f1f1;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.home__footer-items a:hover {
    color: #eaeaea8b;
}

.home__footer-contact {
    color: #eaeaea8b;
}

.home__footer-contact>h4,
.home__footer-socialMedia>h4 {
    color: #f8f1f1;
}

.home__footer-contact span {
    font-weight: 500;
    font-size: 18px;
}

.home__footer-icon {
    font-size: 20px;
    cursor: pointer;
    color: #eaeaea8b;
}


/* 
Media query  */

@media screen and (max-width :897px) {
    .home__news-imgs {
        display: grid;
        grid-template-columns: 2fr 1fr;
        flex-direction: column;
        width: 100%;
    }
    .home__news-left {
        margin-bottom: 5px;
        width: 100%;
        display: flex;
    }
    .home__news-left-img {
        max-width: 100%;
        height: auto;
    }
    .home__news-right-img {
        width: 100%;
    }
    .home__news-right {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width :865px) {
    .home__offer-banner {
        display: flex;
        flex-direction: column;
    }
    .home__offer-banner-img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width :767px) {
    .home__brand {
        font-size: 1rem;
    }
    .home__brand-left {
        font-size: 14px;
    }
    .home__footer-contact,
    .home__footer-nav {
        border-right: 1px solid rgb(77, 77, 77);
        padding-right: 8%;
    }
}

@media screen and (max-width :500px) {
    /* Home Carousel */
    .carousel-text-tech h1 {
        text-align: center;
    }
    .carousel-text {
        left: 0;
        text-align: center;
        width: 100%;
        padding: 0 30px;
    }
    .carousel-text>h1 {
        font-size: 35px;
    }
    .carousel-text>span {
        margin: 10px 0 35px 0;
    }
    .home__news {
        padding: 10px 35px;
        margin-top: 20px;
        background-color: #dbdbdb;
    }
    .home__news-left {
        margin-bottom: 10px;
    }
    .home__news-title {
        font-size: 50px;
        font-weight: 200;
        color: #222;
    }
    .home__news-imgs {
        display: flex;
        gap: 10px;
    }
    .home__news-imgs img {
        object-fit: cover;
    }
    .home__news-right {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .home__news-right {
        row-gap: 20px;
    }
    .home__brand {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 140px;
    }
    .home__brand-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #bcdbd5;
    }
    .home__brand-left>h6 {
        text-transform: uppercase;
        font-family: 'Montserrat';
        color: #242c34;
        font-weight: 600;
    }
    .home__brand-left>p {
        color: #666a7c;
    }
    .home__brand-left>button {
        color: #236b99;
        text-transform: uppercase;
    }
    .home__brand-left>button:hover {
        background-color: #236b99;
        color: #b8b9c2;
    }
    .home__brand-right {
        width: 100%;
    }
    .home__brand-right>img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
    /* Home Trending */
    .home__trending-product {
        grid-template-columns: repeat(2, 1fr);
    }
    /* Home Promotion */
    .home__promotions {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 30px;
        padding: 0 35px;
    }
    .home__promotion {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 80px;
        margin-top: 10px;
        width: 100%;
        height: 300px;
        background-color: #bcdbd5;
    }
    .home__promotion:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, .6);
        width: 100%;
        height: 100%;
    }
    .home__promotion-text>* {
        color: #fff;
        z-index: 2;
        position: relative;
    }
    .home__promotion-text {
        position: absolute;
        left: 35%;
        top: 100px;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
    }
    .home__promotion-text>h4 {
        letter-spacing: 1px;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 0;
        color: #fadcd9;
    }
    .home__promotion-text {
        position: absolute;
        top: 80px;
        left: 3%;
        text-align: center;
    }
    .home__promotion-text>h4 {
        font-size: 24px;
    }
    /* Home Footer */
    .home__footer {
        display: flex;
        flex-direction: column;
    }
    .home__footer-items {
        display: flex;
    }
    .home__footer-items a {
        font-size: 18px;
        padding: 0 4px;
    }
    .home__footer-contact>div {
        display: flex;
    }
    .home__footer-contact>div>p {
        padding: 0 10px;
    }
    .home__footer-contact,
    .home__footer-nav {
        border-right: none;
        padding-right: 0;
    }
}