@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
.home {
    background-color: #eeeeee;
}

.carousel-content {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    position: relative;
    height: 500px;
}

.carousel-content:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
    width: 100%;
    height: 100%;
}

.carousel-text {
    top: 170px;
    left: 130px;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
}

.carousel-text>* {
    position: relative;
    z-index: 2;
}

.carousel-text-tech {
    position: relative;
    top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel-text-tech>h1 {
    margin-bottom: 0;
    color: #ff9900;
    text-transform: uppercase;
}

.carousel-text-tech>* {
    position: relative;
    z-index: 2;
}

.carousel-text>h1 {
    color: #1f6f8b;
    font-size: 50px;
    text-transform: uppercase;
}

.carousel-text>h1 span {
    color: #cc0e74;
}

.carousel-text>span {
    text-align: center;
    color: #f8f1f1;
}


/* Home Promotion */

.home__promotions {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 30px;
    padding: 0 35px;
}

.home__promotion {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80px;
    width: 100%;
    height: 300px;
    background-color: #bcdbd5;
}

.home__promotion:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
}

.home__promotion-text>* {
    color: #fff;
    z-index: 2;
    position: relative;
}

.home__promotion-text {
    position: absolute;
    left: 35%;
    top: 100px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.home__promotion-text>h4 {
    letter-spacing: 1px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    color: #fadcd9;
}

.home__promotion-text {
    position: absolute;
    top: 80px;
    left: 3%;
    text-align: center;
}

.home__promotion-text>h4 {
    font-size: 24px;
}


/* Home News */

.home__news {
    padding: 10px 35px;
    margin-top: 20px;
    background-color: #dbdbdb;
}

.home__news-title {
    font-size: 50px;
    font-weight: 200;
    color: #222;
}

.home__news-img {
    display: flex;
    justify-content: center;
}

.home__news-img-left {
    width: 100%;
}

.home__news-img-left>img {
    height: 715.5px;
    width: 100%;
}

.home__news-img-right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin-left: auto;
    width: 100%;
}

.home__news-img-right figure {
    width: 100%;
}

.home__news-img-right figure>img {
    height: 350px;
    margin-left: 20px;
    object-fit: cover;
}


/* Home Brand */

.home__brand {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 220px;
    margin: 20px 0;
}

.home__brand-left {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #bcdbd5;
}

.home__brand-left>h6 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    color: #242c34;
    font-weight: 600;
}

.home__brand-left>p {
    color: #666a7c;
}

.home__brand-left>button {
    color: #236b99;
    text-transform: uppercase;
}

.home__brand-left>button:hover {
    background-color: #236b99;
    color: #b8b9c2;
}

.home__brand-right {
    width: 75%;
}

.home__brand-right>img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}